@import "../Constants/Mixin";
@import "../Constants/Variables";

.Education {
  width: 90%;
  margin: auto;
  padding-top: 80px;

  .universities {
    @include Display(column, center, center);
    border-radius: $BorderRadius;
    margin: 20px auto;
    padding: 30px;
    box-shadow: $BoxShadow;

    h3, h4, h5, h6 {
      margin: 5px 0 !important;
    }

    .descriptions {
      @include Display(row-reverse, space-between, center);
      width: 100%;
      >p{
        margin: 20px auto;
      }
    }

    .uniLogo {
      width: 10%;
      resize: both;
      margin: 10px;

    }
  }
}

@media only screen and (max-width: 600px) {
       .descriptions {
      width: 100% !important
    }

}

