@import "../Constants/Mixin";
@import "../Constants/Variables";

.Footer {
  margin-top: 50px;
  padding-top: 85px;
  height: auto;

  > :nth-child(1) {
    width: 90%;
  }

  .contactForm {
    @include Display(column, flex-start, center);
    padding-top: 50px;


    textarea {
      width: 60%;
      margin: 5px auto;
      padding: 10px;
      outline: none;
      border: $Border;
      height: 300px;
      border-radius: $BorderRadius;
      transition: 0.25s linear;

      &:focus {
        box-shadow: $BoxShadow;
      }

      & ::placeholder {
        color: $PlaceholderColor;
        font-size: 1.5vw;
        opacity: .8;

      }
    }


  }

  .signature {
    //background-image: url("../Assets/ShinyOverlay.svg");
    background-color: #000000;
    background-size: cover;
    height: 350px;
    width: 100%;
    position: relative;
    margin-top: 100px;
    @media only screen and (max-width: 738px) {
      height: 400px;
    }
    @media only screen and (max-width: 600px) {
      height: 450px;
    }


    span {
      color: #{$LightFontColor};
      position: absolute;
      left: 10px;
      bottom: 20px;
    }

    .footerTextContainer {
      @include Display(row, space-around, flex-start);
      padding: 20px 10%;
      @media only screen and (max-width: 600px) {
        padding: 20px 10px;
      }
      > img {
        width:100px;
        height:100px;
      }

      .footerText {
        width: 70%;
        @include Display(column, center, flex-start);
        color: #c7c7c7;

        a {
          color: #FFFFFF;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        * {
          font-size: 14px;
          text-indent: 0;
          margin: 5px 0;
        }
      }

      .iconFooter {
        @include Display(row, center, center);
        //width: 40%;

        :nth-child(3), :nth-child(5) {
          font-size: 26px !important;
          cursor: pointer;

          &:hover {
            color: #c7c7c7;
          }
        }

        :nth-child(2), :nth-child(4) {
          font-size: 30px !important;
          cursor: pointer;

          &:hover {
            color: #c7c7c7;
          }
        }

        > * {
          margin-right: 10px;
          color: #FFFFFF;


        }

      }
    }

  }
}


@media only screen and (max-width: 992px) {
  .contactForm > * {
    width: 60% !important;
  }

  textarea {
    height: 150px !important;
  }
}