@import "../Constants/Mixin";
@import "../Constants/Variables";

.Skills {
  width: 90%;
  margin: auto;
  padding-top: 80px;

  .skillItems {
    width: 80%;
    margin: 50px auto 0 auto;

    h1, h4 {
      margin: 0 !important;

    }

    .item {
      @include Display(row, flex-start, center);
      background-image: linear-gradient(to left, #d3fbd8, #cdfef6, #ddfeff, #f4fdff, #ffffff);
      border-radius: 0 90px 90px 0;
      padding: 0;
      border: none;
      position: relative;
      height: 180px;

      .shadow {
        box-shadow: 16px 13px 14px -10px #324b4c;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1000;
        position: absolute;
        width: 91%;
        height: 100%;
        border-radius: 0 90px 90px 0;
        right: 1px;
      }

      .contentSkills {
        direction: rtl !important;
        margin-right: 15px;
        width: 70%;

        > :nth-child(1) {
          margin-bottom: 10px;

        }

      }

      .number {
        @include Display(row, center, center);
        border-radius: 50%;
        background-image: linear-gradient(to right, #2b6766, #3d7c7a, #4f928f, #62a9a5, #75c0bb);
        width: 150px;
        height: 150px;
        text-align: center;
        font-weight: bolder;
        margin: 0 10px;


        span {
          @include Display(row, center, center);
          width: 130px;
          height: 130px;
          border-radius: 50%;
          background-image: linear-gradient(to left, #2b6766, #3d7c7a, #4f928f, #62a9a5, #75c0bb);
          font-size: 6vw;
          color: #0a2f2e;

        }
      }
    }

    .item2 {
      @include Display(row-reverse, flex-start, center);
      background-image: linear-gradient(to right, #d3fbd8, #cdfef6, #ddfeff, #f4fdff, #ffffff);
      border-radius: 90px 0 0 90px;
      padding: 10px 0 !important;
      position: relative;
      height: 180px;
      direction: ltr;

      .shadow2 {
        box-shadow: -16px 13px 14px -10px #324b4c;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1000;
        position: absolute;
        width: 91%;
        height: 100%;
        border-radius: 90px 0 0 90px;
        left: 1px;
      }

      .contentSkills {
        margin-left: 15px;
        width: 70%;

        > :nth-child(1) {
          margin-bottom: 10px;
        }


      }

      .number2 {
        @include Display(row, center, center);
        border-radius: 50%;
        background-image: linear-gradient(to right, #2b6766, #3d7c7a, #4f928f, #62a9a5, #75c0bb);
        width: 150px;
        height: 150px;
        text-align: center;
        font-weight: bolder;
        margin: 0 10px;

        span {
          @include Display(row, center, center);
          width: 130px;
          height: 130px;
          border-radius: 50%;
          background-image: linear-gradient(to left, #2b6766, #3d7c7a, #4f928f, #62a9a5, #75c0bb);
          font-size: 6vw;
          color: #0a2f2e;
        }

      }
    }
  }

}

@media only screen and (max-width: 900px) {
  .item, .item2 {
    height: 90px !important;
  }
  .number, .number2 {
    height: 70px !important;
    width: 70px !important;

    span {
      width: 50px !important;
      height: 50px !important;
      font-size: 4vw !important;

    }
  }
}