$BackgroundNav: rgba(5, 164, 145, 0.8);
$TitleColor: #FFFFFF;
$NavFontSize: 20px;
$LightFontColor: #FFFFFF;
$FontColor: #3e4f50;
$PlaceholderColor:#80a2a2;
$Background-color: #FFFFFF;
$Border: 1px solid #d8d8d8;
$BorderColor: #068488;
$BorderRadius: 3px;
$BoxShadow: 4px 6px 10px -4px #e4eaeb;