@import "src/Constants/Mixin";
@import "src/Constants/Variables";

@font-face {
  font-family: "Abel";
  src: local('Abel'), url('./Assets/Epilogue-Light.ttf') format('truetype');
}

.App {
  background-color: $Background-color;
  height: auto;

  *, :before, :after{
    box-sizing: border-box;
    text-decoration: none;
    direction: ltr;
    font-family: 'Abel';
    scroll-behavior: smooth;

  }

  h1 {
    font-size: 3.5vw;
    color: $FontColor;
    text-align: justify;
  }

  h2 {
    font-size: 2.2vw;
    color: $FontColor;
    text-align: justify;
  }

  h3 {
    font-size: 2vw;
    color: $FontColor;
    text-align: justify;
  }

  h4 {
    font-size: 1.8vw;
    color: $FontColor;
    text-align: justify;
  }

  h5 {
    font-size: 1.4vw;
    color: $FontColor;
    text-align: justify;
  }

  p {
    font-size: 1.8vw;
    text-align: justify;
    color: $FontColor;

  }
  @media only screen and (max-width: 600px){

    h1 {
      font-size: 4vw;
    }

    h2 {
      font-size: 2.5vw;
    }

    h3 {
      font-size: 2.3vw;
    }

    h4 {
      font-size: 2.1vw;
    }
    h5 {
      font-size: 1.9vw;
    }
    p{
      font-size: 2.3vw;
    }

  }
}
